@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
main {
  height: 80%;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background: #333;
  height: 7vh;
}

table {
  width: 80%;
}

thead {
  background: rgb(105, 93, 71);
}

td {
  border: 1px solid black;
}

.userTab {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: large;
  color: aquamarine;
}
.btn {
  width: 20px;
}

.changeProfil {
  display: flex;
  justify-content: center;
  height: 80%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  border: 1px solid black;
  background: rgb(175, 175, 175);
  border-radius: 10px;
  align-items: center;
}

input {
  width: 60%;
}

.logo-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background: url(./img/php-leader1-880x450.png) center/cover;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
@media screen and(max-width:500px) {
  .logo {
    display: none;
  }
}

.delTag {
  color: red;
}
.delCase {
  width: 5%;
}
.per-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.tabcol6 {
  display: none;
}
.editPics {
  width: 60px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#login {
  height: 40%;
}

.profile-pic {
  width: 45px;
  border-radius: 50%;
}

body {
  background-color: pink;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.tagsList,
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.list-btn {
  margin-top: 30px;
  border: 1px solid black;
  background: rgb(172, 170, 170);
  padding: 10px;
}
.list-btn:hover {
  transform: translateY(-1px);
}
.del-btn {
  border: 1px solid black;
  background: rgb(238, 0, 0);
  padding: 10px;
}
.del-btn a {
  color: white;
}
.del-btn:hover {
  transform: translateY(-1px);
}

.articleList {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-container {
  background: rgba(128, 128, 128, 0.726);
  width: 80%;
  text-align: center;
}
#newArticle {
  display: none;
}

#article {
  resize: none;
  width: 60%;
}
.modify-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#exitArt {
  color: red;
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.editArtBtn {
  border: 1px solid black;
  background: rgb(10, 83, 10);
  margin: auto;
  text-align: center;
  width: 40%;
  margin-top: 20px;
}

.editArtBtn:hover {
  cursor: pointer;
  transform: translateX(1px);
}

.title {
  display: flex;
  font-size: 2rem;
  color: rgb(22, 126, 218);
  font-family: "Itim", cursive;
}
.article-img {
  display: flex;
  justify-content: center;
}

.article-img img {
  width: 50%;
}

/* RESPONSIVE */

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .userTab {
    overflow-x: auto;
  }
}
