* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
main {
  height: 90%;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background: #333;
  height: 7vh;
}

table {
  width: 80%;
}

thead {
  background: rgb(105, 93, 71);
}

td {
  border: 1px solid black;
}

.userTab {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: large;
  color: aquamarine;
}
.btn {
  width: 20px;
}

.changeProfil {
  display: flex;
  justify-content: center;
  height: 80%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  border: 1px solid black;
  background: rgb(175, 175, 175);
  border-radius: 10px;
  align-items: center;
}

input {
  width: 60%;
}

.logo-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background: url(./img/php-leader1-880x450.png) center/cover;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
@media screen and(max-width:500px) {
  .logo {
    display: none;
  }
}

.delete {
  color: red;
}
.categories {
  margin-top: 30px;
}

.delTag {
  color: red;
}
.delCase {
  width: 5%;
}
.per-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.tabcol6 {
  display: none;
}
.editPics {
  width: 60px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#login {
  height: 40%;
}

.profile-pic {
  width: 45px;
  border-radius: 50%;
}

body {
  background-color: pink;
}

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .userTab {
    overflow-x: auto;
  }
}
