* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
main {
  height: 90%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background: #333;
  height: 5vh;
}

table {
  width: 80%;
}

thead {
  background: rgb(105, 93, 71);
}

td {
  border: 1px solid black;
}

.userTab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

a {
  font-size: large;
  color: aquamarine;
}
.btn {
  width: 20px;
}

.changeProfil {
  display: flex;
  justify-content: center;
  height: 80%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  border: 1px solid black;
  background: rgb(175, 175, 175);
  border-radius: 10px;
  align-items: center;
}

input {
  width: 60%;
}

.logo-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background: url(./img/2cd40257947437577f493d5bb037cd41.png) center/cover;
  display: flex;
  width: 80%;
  height: 90%;
  border-radius: 10%;
}

.delete {
  color: red;
}
.categories {
  margin-top: 30px;
}

.delTag {
  color: red;
}
.delCase {
  width: 5%;
}
